.notes ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  gap: 2rem;
}
.notes {
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-wrap: anywhere;
}
.notes::-webkit-scrollbar {
  width: 0;
}
@media only screen and (max-width: 600px) {
  .notes {
    max-height: 65vh;
  }
  .notes::-webkit-scrollbar {
    width: 5px;
  }
  .notes::-webkit-scrollbar-thumb {
    background-color: #fdecec;
    border-radius: 3px;
  }
}
